<div class="section__gallery">
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal1.jpg" alt="" />
  </div>
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal2.jpg" alt="" />
  </div>
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal3.jpg" alt="" />
  </div>
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal4.jpg" alt="" />
  </div>
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal5.jpg" alt="" />
  </div>
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal6.jpg" alt="" />
  </div>
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal7.jpg" alt="" />
  </div>
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal8.jpg" alt="" />
  </div>
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal9.jpg" alt="" />
  </div>
  <div
    class="section__gallery--img"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <img src="/assets/gal10.jpg" alt="" />
  </div>
</div>
