html {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 10;
}

ul {
  list-style-type: none;
}

p {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75em;
  font-style: italic;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.nav__wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.home__logo {
  font-size: 20px;
  margin-left: 120px;
  display: flex;
}

.home__logo img {
  width: 50px;
}

.nav__wrapper .home__list {
  display: flex;
  margin-right: 120px;
}

.home__list .home__list--item {
  padding-right: 20px;
}

.home-item a {
  color: #d81b60 !important;
  cursor: default;
}

.home__list .home__list--item:last-child {
  padding-right: 0;
}

.home__list .home__list--item a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.home__background {
  background: rgba(0, 0, 0, 0) url("../../../../public/assets/bg.webp")
    no-repeat scroll bottom center / cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.home__background::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #10100e;
  opacity: 0.5;
  content: "";
  z-index: -1;
}

.home__background--para {
  padding-top: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.home__background--para .above-title {
  color: #ff005d;
}

.home__background--para h1 {
  font-size: 74px;
  color: #ffffff;
}

.home__background--para p {
  text-align: center;
  font-size: 26px;
  color: #ffffff;
}

.home__background--para-button {
  text-align: center;
  margin-top: 10px;
}

.home__background--para a {
  margin: 15px 30px;
  position: relative;
  padding: 14px 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  transition: all 0.3s;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
  display: inline-block;
}

.home__background--para a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #4b044b;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  z-index: -1;
  transition: all 0.3s;
}

.home__background--para a:hover::after {
  height: 500%;
  opacity: 1;
}

.home__background--para a:hover {
  color: #fff;
  border-color: #4b044b;
  /* border: 1px solid #4b044b; */
}

.above-title {
  text-transform: uppercase;
  color: #d81b60;
  font-size: 16px;
  letter-spacing: 5px;
}

section {
  margin-top: 120px;
  margin-left: 120px;
  margin-right: 120px;
}

.about__section {
  display: flex;
  width: 100%;
}

.about__section--img {
  width: 50%;
  height: 600px;
  text-align: center;
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.about__section--img img {
  width: 100%;
  height: 601px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.about__section--para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 40px;
}

.about__section--para .section__title {
  text-align: left !important;
}

.about__section--para-title h1 {
  font-size: 50px;
  color: #4b044b;
}

.about__section--para-text p {
  font-size: 20px;
  color: #333333;
  line-height: 0.7cm;
}

.section__title {
  width: 100%;
  text-align: center;
}

.section__title h1 {
  font-size: 50px;
  margin-top: 6px;
  color: #4b044b;
}

.section__services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 550px);
  justify-content: space-between;
}

.section__service {
  text-align: center;
  width: 550px;
}

.section__service--img {
  overflow: hidden;
}

.section__service--img img {
  height: 500px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  object-fit: cover;
  width: 100%;
}

.section__service--title {
  color: #d81b60;
  font-size: 28px;
}

.section__service--title h4 {
  margin-bottom: 0;
  font-size: 27px !important;
  margin-top: 34px;
  color: #4b044b;
}

.section__service--text {
  color: #333333;
  font-size: 18px;
  line-height: 0.7cm;
}

.section__gallery {
  display: none;
  margin-top: 40px;
  margin-bottom: 100px;
}
.section__gallery--img {
  height: 550px;
  overflow: hidden;
}

.section__gallery--img img {
  width: 100%;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 550px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.section__gallery--img img:hover {
  transform: scale(1.2);
}

footer {
  width: 100%;
  background-color: white;
}

.footer__wrapper {
  margin: 0 120px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.footer__block--title {
  font-size: 20px;
  color: black;
}

.footer__block--social,
.footer__block--contact,
.footer__block--location {
  text-align: center;
}

.footer__block--social-icons {
  width: 100%;
  padding-left: 0;
}

.footer__block--social-icons li {
  display: inline-block;
}

.footer__block--social-icons li {
  margin-right: 4px;
}

.footer__block--social-icons li:last-child {
  margin-right: 0;
}

.footer__block--social-icons img {
  color: #d81b60 !important;
  display: block;
  text-align: center;
  margin-right: 5px;
  width: 28px;
  height: 28px;
  padding: 8px;
  border-radius: 50%;
  border: 2px dotted transparent;
  transition: 0.4s;
}

.footer__block--social-icons img:hover {
  border-color: #d81b60;
}

.footer__block--contact-options {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-left: 84px;
}

.footer__block--contact-options li div {
  display: flex;
  align-items: center;
}

.footer__block--contact-options li div img {
  width: 18px;
  height: 18px;
  padding-right: 10px;
}

.footer__block--contact-options li div p {
  margin: 0;
}

.footer__block--contact-options li div:first-child p {
  padding-bottom: 4px;
}

.footer__block--contact-options li div:last-child p {
  padding-top: 4px;
}

.copyright {
  font-size: 14px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.last-image {
  display: none;
}

.loader__wrapper {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f8d5e3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
}

.hide-loader {
  opacity: 0;
}

.remove-loader {
  display: none;
}

.loader {
  width: 6.2em;
  height: 5em;
  position: relative;
  animation: beat 1s infinite;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 80px;
  border-radius: 5em 5em 0 0;
  animation: coldblue 1s infinite;
}

.loader::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.loader::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.columns {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 50px;
  flex-wrap: wrap;
  position: relative;
}

.column {
  --column-offset: 10vh;
  display: flex;
  flex-direction: column;
  padding: var(--column-offset) 0;
}

.column__item {
  margin: 20px 0;
}

.column__item-imgwrap img {
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  height: auto;
  aspect-ratio: 0.75;
  object-fit: cover;
}

@supports (animation-timeline: works) {
  .column-reverse {
    flex-direction: column-reverse;
  }

  @keyframes adjust-position {
    from {
      transform: translateY(calc(-100% + 100vh));
    }
    to {
      transform: translateY(calc(100% - 100vh));
    }
  }

  @scroll-timeline scroll-in-document {
    source: auto;
  }

  .column-reverse {
    animation: 1s adjust-position linear forwards;
    animation-timeline: scroll-in-document;
  }
}

@media (max-width: 1440px) {
  .section__services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__service {
    width: 100%;
    margin-bottom: 60px;
  }

  .section__service:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .home__list {
    display: none !important;
  }

  .nav__wrapper {
    justify-content: center;
  }

  .home__logo {
    margin-left: 0;
  }

  .about__section {
    flex-direction: column;
    align-items: center;
  }

  .about__section--para,
  .about__section--img {
    width: 100%;
  }

  .about__section--para {
    padding-left: 0;
    padding-top: 40px;
  }

  section {
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .footer__wrapper {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__block--contact-options {
    padding: 0;
  }

  .footer__block--contact-options li div {
    justify-content: center;
  }

  .footer__block--social,
  .footer__block--contact {
    margin-bottom: 20px;
  }

  .last-image {
    display: block;
  }
}

@media (max-width: 768px) {
  .home__background--para h1 {
    font-size: 64px;
  }

  section {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer__wrapper {
    margin: 0 20px;
  }

  .columns {
    display: none;
  }

  .section__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 50px;
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .home__background--para h1 {
    font-size: 40px;
    margin-top: 10px;
  }

  .section__gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .above-title {
    font-size: 14px;
  }

  .home__background--para-button a {
    font-size: 16px;
  }

  .about__section--img {
    height: 100% !important;
  }

  .about__section--img img {
    height: 100% !important;
  }

  .section__title h1 {
    font-size: 40px;
  }

  .section__service {
    width: 100%;
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes coldblue {
  0%,
  100% {
    background-color: #8a168a;
  }

  50% {
    background-color: #4b044b;
  }
}
