@media (max-width: 1440px) {
  .section__services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__service {
    width: 100%;
    margin-bottom: 60px;
  }

  .section__service:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .home__list {
    display: none !important;
  }

  .nav__wrapper {
    justify-content: center;
  }

  .home__logo {
    margin-left: 0;
  }

  .about__section {
    flex-direction: column;
    align-items: center;
  }

  .about__section--para,
  .about__section--img {
    width: 100%;
  }

  .about__section--para {
    padding-left: 0;
    padding-top: 40px;
  }

  section {
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .footer__wrapper {
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__block--contact-options {
    padding: 0;
  }

  .footer__block--contact-options li div {
    justify-content: center;
  }

  .footer__block--social,
  .footer__block--contact {
    margin-bottom: 20px;
  }

  .last-image {
    display: block;
  }
}

@media (max-width: 768px) {
  .home__background--para h1 {
    font-size: 64px;
  }

  section {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer__wrapper {
    margin: 0 20px;
  }

  .columns {
    display: none;
  }

}

@media (max-width: 576px) {
  .home__background--para h1 {
    font-size: 40px;
    margin-top: 10px;
  }

  .above-title {
    font-size: 14px;
  }

  .home__background--para-button a {
    font-size: 16px;
  }

  .about__section--img {
    height: 100% !important;
  }

  .about__section--img img {
    height: 100% !important;
  }

  .section__title h1 {
    font-size: 40px;
  }

  .section__service {
    width: 100%;
  }
}