<!-- <a routerLink="/appointment">Zakazi Termin</a> -->
<div
  class="loader__wrapper"
  [ngClass]="{
    'hide-loader': hide,
    'remove-loader': remove
  }"
>
  <div class="loader"></div>
</div>
<nav>
  <div class="nav__wrapper">
    <div class="home__logo">
      <img src="assets/logo.png" alt="" />
    </div>
    <ul class="home__list">
      <li class="home__list--item home-item">
        <a>Početna</a>
      </li>
      <li class="home__list--item">
        <a href="#about" (click)="scrollToSection($event)">O meni</a>
      </li>
      <li class="home__list--item">
        <a href="#services" (click)="scrollToSection($event)">Usluge</a>
      </li>
      <li class="home__list--item">
        <a href="#gallery" (click)="scrollToSection($event)">Galerija</a>
      </li>
    </ul>
  </div>
</nav>
<div>
  <div class="home__background">
    <div
      class="home__background--para"
      data-aos="fade-in"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <span class="above-title">Makeup Artist</span>
      <h1>DraganaMakeup</h1>
      <div class="home__background--para-button">
        <a routerLink="/appointment">Zakaži Termin</a>
      </div>
    </div>
  </div>
  <section
    id="about"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <div class="about__section">
      <div class="about__section--img">
        <img src="/assets/about2.jpeg" alt="" />
      </div>
      <div class="about__section--para">
        <div class="section__title">
          <span class="above-title">O Meni</span>
          <h1>Dragana Milenković</h1>
        </div>
        <div class="about__section--para-text">
          <p>
            Ćao, ja sam Dragana, profesionalni makeup artist sa strašću za
            stvaranje jedinstvenih i prelepih makeup izgleda. Šminkanje je mnogo
            više od posla za mene – to je umetnost kroz koju izražavam svoju
            kreativnost i ljubav prema bojama, oblicima i teksturama. Svaki
            klijent je novo platno, a moj cilj je da istaknem prirodnu lepotu i
            kreiram izgled koji odiše samopouzdanjem i elegancijom.
          </p>
          <p>
            Bilo da je u pitanju dnevni, svečani ili glamurozni makeup, uživam u
            tome da zajedno sa svojim klijentima stvaram magiju pomoću šminke.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    id="services"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <div class="section__title">
      <span class="above-title">Usluge Koje Nudim</span>
      <h1>Moje Usluge</h1>
    </div>
    <div class="section__services">
      <div class="section__service">
        <div class="section__service--img">
          <img src="/assets/service1.jpg" alt="" />
        </div>
        <div class="section__service--title">
          <h4>Šminkanje</h4>
        </div>
        <div class="section__service--text">
          <p>
            Šminkanje je umetnost i veština ulepšavanja lica pomoću kozmetičkih
            proizvoda. Bilo da se koristi za isticanje prirodne lepote,
            kreiranje dramatičnih izgleda ili sakrivanje nesavršenosti, šminka
            omogućava izražavanje kreativnosti i samopouzdanja.
          </p>
        </div>
      </div>
      <div class="section__service">
        <div class="section__service--img">
          <img src="/assets/service2.jpg" id="ser2" alt="" />
        </div>
        <div class="section__service--title">
          <h4>Sređivanje obrva</h4>
        </div>
        <div class="section__service--text">
          <p>
            Sređivanje i oblikovanje obrva je proces prilagođavanja njihovog
            oblika, gustine i definicije kako bi istakle crte lica i pružile
            skladan izgled. Bilo da se koristi pinceta, vosak, konac ili olovka
            za popunjavanje, pravilno oblikovane obrve mogu dramatično promeniti
            izraz lica.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section
    id="gallery"
    data-aos="fade-in"
    data-aos-duration="1000"
    data-aos-delay="200"
  >
    <div class="section__title">
      <span class="above-title">Portfolio</span>
      <h1>Moja Galerija</h1>
    </div>
    <div class="section__gallery">
      <div class="section__gallery--img">
        <img src="/assets/gal1.jpg" alt="" />
      </div>
      <div class="section__gallery--img">
        <img src="/assets/gal2.jpg" alt="" />
      </div>
      <div class="section__gallery--img">
        <img src="/assets/gal3.jpg" alt="" />
      </div>
      <div class="section__gallery--img">
        <img src="/assets/gal4.jpg" alt="" />
      </div>
      <div class="section__gallery--img">
        <img src="/assets/gal5.jpg" alt="" />
      </div>
      <div class="section__gallery--img">
        <img src="/assets/gal6.jpg" alt="" />
      </div>
      <div class="section__gallery--img">
        <img src="/assets/gal7.jpg" alt="" />
      </div>
      <div class="section__gallery--img">
        <img src="/assets/gal8.jpg" alt="" />
      </div>
      <div class="section__gallery--img">
        <img src="/assets/gal9.jpg" alt="" />
      </div>
      <div class="section__gallery--img last-image">
        <img src="/assets/gal10.jpg" alt="" />
      </div>
    </div>
  </section>
  <footer>
    <div class="footer__wrapper">
      <div class="footer__block--social">
        <div class="footer__block--title">
          <h1>Prati Me</h1>
        </div>
        <ul class="footer__block--social-icons">
          <li>
            <a href="https://www.instagram.com/draganamakeup_/" target="_blank">
              <img src="assets/instagram.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/DraganaMua2024" target="_blank">
              <img src="assets/facebook.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__block--contact">
        <div class="footer__block--title">
          <h1>Kontakt</h1>
        </div>
        <ul class="footer__block--contact-options">
          <li>
            <div>
              <img src="assets/mail.svg" alt="" />
              <p>milenkovicdragana543&#64;gmail.com</p>
            </div>
          </li>
          <li>
            <div>
              <img src="assets/phone.svg" alt="" />
              <p>064/5559391</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer__block--location">
        <div class="footer__block--title">
          <h1>Lokacija</h1>
        </div>
        <div class="footer__block--text">
          <p>
            Boska buhe 002 <br />
            Trnjane, Srbija <br />
            & <br />
            Katićeva 3A <br />
            Niš, Srbija
          </p>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © {{ currentYear }}</p>
    </div>
  </footer>
</div>
