<section
  id="about"
  data-aos="fade-in"
  data-aos-duration="1000"
  data-aos-delay="200"
>
  <div class="about__section">
    <div
      class="about__section--img"
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <img src="/assets/about2.jpeg" alt="" />
    </div>
    <div
      class="about__section--para"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <div class="section__title">
        <span class="above-title">O Meni</span>
        <h1>Dragana Milenković</h1>
      </div>
      <div class="about__section--para-text">
        <p>
          Ćao, ja sam Dragana, profesionalni makeup artist sa strašću za
          stvaranje jedinstvenih i prelepih makeup izgleda. Šminkanje je mnogo
          više od posla za mene – to je umetnost kroz koju izražavam svoju
          kreativnost i ljubav prema bojama, oblicima i teksturama. Svaki
          klijent je novo platno, a moj cilj je da istaknem prirodnu lepotu i
          kreiram izgled koji odiše samopouzdanjem i elegancijom.
        </p>
        <p>
          Bilo da je u pitanju dnevni, svečani ili glamurozni makeup, uživam u
          tome da zajedno sa svojim klijentima stvaram magiju pomoću šminke.
        </p>
      </div>
    </div>
  </div>
</section>
