<div class="main__wrapper">
  <div class="auth__block--wrapper">
    <mat-card class="auth__block">
      <mat-card-header>
        <mat-card-title>Registruj se</mat-card-title>
      </mat-card-header>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit($event)">
        <mat-card-content>
          <div class="auth__block--fields">
            <div class="auth__block--username">
              <mat-form-field appearance="outline">
                <mat-label>Unesite korisničko ime</mat-label>
                <input matInput="username" formControlName="username" />
              </mat-form-field>
            </div>
            <div class="auth__block--phone">
              <mat-form-field appearance="outline">
                <mat-label>Unesite broj telefona</mat-label>
                <input
                  matInput
                  type="tel"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  maxlength="10"
                  formControlName="phone"
                />
              </mat-form-field>
            </div>
            <div class="auth__block--password">
              <mat-form-field appearance="outline">
                <mat-label>Unesite šifru</mat-label>
                <input
                  matInput
                  [type]="hidePassword() ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="togglePassword($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword()"
                  type="button"
                >
                  <mat-icon>{{
                    hidePassword() ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="auth__block--password-confirm">
              <mat-form-field appearance="outline">
                <mat-label>Potvrdite šifru</mat-label>
                <input
                  matInput
                  [type]="hideConfirmPassword() ? 'password' : 'text'"
                  formControlName="confirmPassword"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="toggleConfirmPassword($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideConfirmPassword()"
                  type="button"
                >
                  <mat-icon>{{
                    hideConfirmPassword() ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div
            *ngIf="signupForm.errors?.['mismatch']"
            class="auth__block--match-error"
          >
            <p>{{ signupForm.errors?.['mismatch'] }}</p>
          </div>
          <div *ngIf="signupErrorAfterSubmit" class="auth__block--error">
            <p>{{ signupErrorAfterSubmit }}</p>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <button
            class="auth__block--confirm"
            type="submit"
            [ngClass]="{ loading: isSubmit }"
          >
            Registruj se
          </button>
        </mat-card-footer>
      </form>
    </mat-card>
  </div>
</div>
