.loader__wrapper {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f8d5e3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
}

.hide-loader {
  opacity: 0;
}

.remove-loader {
  display: none;
}

.loader {
  width: 6.2em;
  height: 5em;
  position: relative;
  animation: beat 1s infinite;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 80px;
  border-radius: 5em 5em 0 0;
  animation: coldblue 1s infinite;
}

.loader::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.loader::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes coldblue {
  0%,
  100% {
    background-color: #8a168a;
  }

  50% {
    background-color: #4b044b;
  }
}
