nav {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 10;
}

.nav__wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.home__logo {
  font-size: 20px;
  margin-left: 120px;
  display: flex;
}

.home__logo img {
  width: 50px;
}

.nav__wrapper .home__list {
  display: flex;
  margin-right: 120px;
}

.home__list .home__list--item {
  padding-right: 20px;
}

.home-item a {
  color: #d81b60 !important;
  cursor: default;
}

.home__list .home__list--item:last-child {
  padding-right: 0;
}

.home__list .home__list--item a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .home__list {
    display: none !important;
  }

  .nav__wrapper {
    justify-content: center;
  }

  .home__logo {
    margin-left: 0;
  }
}
