<section
  id="services"
  data-aos="fade-in"
  data-aos-duration="1000"
  data-aos-delay="200"
>
  <div class="section__title">
    <span class="above-title">Usluge Koje Nudim</span>
    <h1>Moje Usluge</h1>
  </div>
  <div class="section__services">
    <div class="section__service">
      <div class="section__service--img">
        <img src="/assets/service1.jpg" alt="" />
      </div>
      <div class="section__service--title">
        <h4>Šminkanje</h4>
      </div>
      <div class="section__service--text">
        <p>
          Šminkanje je umetnost i veština ulepšavanja lica pomoću kozmetičkih
          proizvoda. Bilo da se koristi za isticanje prirodne lepote, kreiranje
          dramatičnih izgleda ili sakrivanje nesavršenosti, šminka omogućava
          izražavanje kreativnosti i samopouzdanja.
        </p>
      </div>
    </div>
    <div class="section__service">
      <div class="section__service--img">
        <img src="/assets/service2.jpg" id="ser2" alt="" />
      </div>
      <div class="section__service--title">
        <h4>Sređivanje obrva</h4>
      </div>
      <div class="section__service--text">
        <p>
          Sređivanje i oblikovanje obrva je proces prilagođavanja njihovog
          oblika, gustine i definicije kako bi istakle crte lica i pružile
          skladan izgled. Bilo da se koristi pinceta, vosak, konac ili olovka za
          popunjavanje, pravilno oblikovane obrve mogu dramatično promeniti
          izraz lica.
        </p>
      </div>
    </div>
    <div class="section__service">
      <div class="section__service--img">
        <img src="/assets/service3.jpg" id="ser2" alt="" />
      </div>
      <div class="section__service--title">
        <h4>Lash lift</h4>
      </div>
      <div class="section__service--text">
        <p>
          Lash lift je tretman koji podiže i naglašava prirodne trepavice bez
          upotrebe ekstenzija ili maskare. Zahvaljujući posebnoj tehnici
          uvijanja i fiksiranja, trepavice dobijaju lepši oblik, izgledaju duže,
          gušće i izrazito prirodno. Ovaj postupak nežno ističe lepotu očiju,
          pruža svež i otvoren pogled.
        </p>
      </div>
    </div>
  </div>
</section>
