.section__services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
  gap: 50px;
}

.section__service {
  text-align: center;
}

.section__service--img {
  overflow: hidden;
}

.section__service--img img {
  height: 500px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  object-fit: cover;
  width: 100%;
}

.section__service--title {
  color: #d81b60;
  font-size: 28px;
}

.section__service--title h4 {
  margin-bottom: 0;
  font-size: 27px !important;
  margin-top: 34px;
  color: #4b044b;
}

.section__service--text {
  color: #333333;
  font-size: 18px;
  line-height: 0.7cm;
}

@media (max-width: 1440px) {
  .section__services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section__service {
    width: 100%;
    margin-bottom: 60px;
  }

  .section__service:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .section__service {
    width: 100%;
  }
}
