<div class="view__appointment--wrapper" (click)="toggle($event)">
  <mat-card class="view__appointment">
    <mat-card-header>
      <mat-card-title>Zakazan termin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="appointment__details">
        <li class="appointment__details--item">
          <p>Korisničko ime</p>
          <span>{{ selectedAppointment?.user!.username }}</span>
        </li>
        <li class="appointment__details--item">
          <p>Broj telefona</p>
          <span>{{ selectedAppointment?.user!.phone }}</span>
        </li>
        <li class="appointment__details--item">
          <p>Datum</p>
          <span>{{ selectedAppointment?.date }}</span>
        </li>
        <li class="appointment__details--item">
          <p>Vreme</p>
          <span>{{ selectedAppointment?.time }}</span>
        </li>
        <li class="appointment__details--item">
          <p>Usluga</p>
          <span>{{ selectedAppointment?.service }}</span>
        </li>
        <li
          class="appointment__details--item"
          *ngIf="selectedAppointment?.comment"
        >
          <p>Dodatne Informacije</p>
          <span>{{ selectedAppointment?.comment }}</span>
        </li>
        <li class="appointment__details--item" *ngIf="message">
          <p>Poruka</p>
          <span>{{ message }}</span>
        </li>
      </ul>
      <div class="appointment__buttons">
        <button
          class="appointment__buttons--button"
          (click)="createMessage()"
          *ngIf="!message; else copyButton"
        >
          Napravi Poruku
        </button>
        <ng-template #copyButton>
          <button class="appointment__buttons--button" (click)="copyMessage()">
            Kopiraj Poruku
          </button>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
</div>
