<div class="view__appointment--wrapper" *ngIf="scheduledAppointment">
  <mat-card class="view__appointment">
    <mat-card-header>
      <mat-card-title>Zakazan termin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul class="appointment__details">
        <li class="appointment__details--item">
          <p>Datum</p>
          <span>{{ scheduledAppointment.date }}</span>
        </li>
        <li class="appointment__details--item">
          <p>Vreme</p>
          <span>{{ scheduledAppointment.time }}</span>
        </li>
        <li class="appointment__details--item">
          <p>Usluga</p>
          <span>{{ scheduledAppointment.service }}</span>
        </li>
      </ul>
      <div
        class="appointment__buttons"
        *ngIf="scheduledAppointment?.canBeCanceled"
      >
        <button class="appointment__buttons--button" (click)="toggle()">
          Otkaži termin
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
