.home__background {
  background: rgba(0, 0, 0, 0) url("../../../../../../public/assets/bg.webp")
    no-repeat scroll bottom center / cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.home__background::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #10100e;
  opacity: 0.5;
  content: "";
  z-index: -1;
}

.home__background--para {
  padding-top: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.home__background--para .above-title {
  color: #ff005d;
}

.home__background--para h1 {
  font-size: 74px;
  color: #ffffff;
}

.home__background--para p {
  text-align: center;
  font-size: 26px;
  color: #ffffff;
}

.home__background--para-button {
  text-align: center;
  margin-top: 10px;
}

.home__background--para a {
  margin: 15px 30px;
  position: relative;
  padding: 14px 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  transition: all 0.3s;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
  display: inline-block;
}

.home__background--para a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #4b044b;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  z-index: -1;
  transition: all 0.3s;
}

.home__background--para a:hover::after {
  height: 500%;
  opacity: 1;
}

.home__background--para a:hover {
  color: #fff;
  border-color: #4b044b;
}

@media (max-width: 768px) {
  .home__background--para h1 {
    font-size: 64px;
  }
}

@media (max-width: 576px) {
  .home__background--para h1 {
    font-size: 40px;
    margin-top: 10px;
  }

  .home__background--para-button a {
    font-size: 16px;
  }
}
