<footer>
  <div class="footer__wrapper">
    <div class="footer__block--social">
      <div class="footer__block--title">
        <h1>Prati Me</h1>
      </div>
      <ul class="footer__block--social-icons">
        <li>
          <a href="https://www.instagram.com/draganamakeup_/" target="_blank">
            <img src="assets/instagram.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/DraganaMua2024" target="_blank">
            <img src="assets/facebook.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__block--contact">
      <div class="footer__block--title">
        <h1>Kontakt</h1>
      </div>
      <ul class="footer__block--contact-options">
        <li>
          <div>
            <img src="assets/mail.svg" alt="" />
            <p>milenkovicdragana543&#64;gmail.com</p>
          </div>
        </li>
        <li>
          <div>
            <img src="assets/phone.svg" alt="" />
            <p>064/5559391</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer__block--location">
      <div class="footer__block--title">
        <h1>Lokacija</h1>
      </div>
      <div class="footer__block--text">
        <p>
          Boska buhe 002 <br />
          Trnjane, Srbija <br />
          & <br />
          Katićeva 3A <br />
          Niš, Srbija
        </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © {{ currentYear }}</p>
  </div>
</footer>
